.body {
  height: 3000px;
}

.right-sidebar {
  position: fixed;
  background-color: green;
  color: white;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.modal {
  font-family: arial;
  display: block;
  background-color: white;
  width: 400px;
  border: none;
  border-radius: 7px;
  padding: 15px;
}

.modal-title {
font-size: 20px;
font-weight: bold;
}

.main-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

