
.body {
  background-color: black;
  height: 3000px;
  font-family: arial;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture-container {
  margin-right: 10px;
}

.profile-picture {
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
height: 35px;
padding-left: 20px;
padding-right: 20px;
border-radius: 5px;
font-family: Arial;
font-weight: bold;


}

.add-friend {
background-color: rgb(41, 109, 218);
color: white;
border: none;

}

.message {
background-color: rgb(236, 233, 233);
color: black;
border: none;
margin-left: 10px;
}