div {
  text-align: center;
}

button {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
background-color: rgb(211, 209, 209);
color: black;
border: none;
margin-top: 20px;
margin-left: 10px;
margin-left: 10px;
font-size: 18px;
}

.google-img {
width: 300px;
margin-top: 200px;
margin-bottom: 20px;

}

.search-box {
width: 700px;
border-radius: 100px;
border: none;
box-shadow : 0px 0px 10px rgb(180, 178, 178) ;
font-size: 18px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 10px;

}