.first-name {
width: 200x;
}

.last-name {
  width: 200px;
}

.email {
  width: 405px;
  display: block;
}


input {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  width: 437px;
  border: none;
  background-color: rgb(9, 152, 234);
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:active {
  opacity: 0.5;
}


